
<!--


    <div class="container">
<div class="panel panel-primary">
   
    <div class="panel-heading">
        <h2 style="background-color: #5bc0de;">Contacts Page</h2>
      </div>
      
    <div class="panel-body">

        <nav class="navbar">
            <input class="form-control" type="text" name="fistName" [(ngModel)]="firstName" (ngModelChange)="Search()" placeholder="Enter first name to search">
        </nav>
          
      <table class="table-responsive table-striped">
        <thead>
          <tr >
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone No</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
   
           
            <tr *ngFor="let contact of contacts" >
            
              <td>{{contact.firstName}}</td>
              <td>{{contact.lastName}}</td>
              <td>{{contact.email}}</td>
              <td>{{contact.contacts}}</td>
              <td><button (click)="deleteContact(contact.id)" class="btn btn-danger">Delete</button>
                <button  (click)="editContact(contact.id)" class="btn btn-info" style="margin-left: 10px">Edit</button>
                <button (click)="viewContact(contact.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
</div> 
  </div>
  



<div class="container">
<table class="table-responsive">
    <thead class="thead-dark">
        <tr >
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone No</th>
            <th>Actions</th>
          </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts" >
            
            <td>{{contact.firstName}}</td>
            <td>{{contact.lastName}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.contacts}}</td>
            <td><button (click)="deleteContact(contact.id)" class="btn btn-danger">Delete</button>
                <button  (click)="editContact(contact.id)" class="btn btn-info" style="margin-left: 10px">Edit</button>
                <button (click)="viewContact(contact.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
              </td>
          </tr>
    </tbody>
  </table>
</div>
-->

<div class="container">
    <h2 style="background-color: #5bc0de;padding: 5px;">Contacts Page</h2>
    
    <input class="form-control" type="text" name="fistName" [(ngModel)]="firstName" (ngModelChange)="Search()" placeholder="Enter first name to search">
   
      
    <table class="table-responsive">

        <thead>
            <tr >
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Phone No</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contact of contacts" >
            
              <td>{{contact.firstName}}</td>
              <td>{{contact.lastName}}</td>
              <td>{{contact.email}}</td>
              <td>{{contact.contacts}}</td>
              <td><button (click)="deleteContact(contact.id)" class="btn btn-danger">Delete</button>
                <button  (click)="editContact(contact.id)" class="btn btn-info" style="margin-left: 10px">Edit</button>
                <button (click)="viewContact(contact.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
              </td>
            </tr>
        </tbody>
    </table>
  </div>